@charset "UTF-8";

 .header_ul {
	display: flex;
	align-items: center;
	overflow: hidden;
	margin: 0;
} 


.header_weapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* a태그 밑줄 없애기 */
.header_item  a { 
	text-decoration:none
}
.header_item a:link{
	color:black;
}
.header_item a:visited{
	color:black;
}
.header_item{
	display: flex;
	margin: 0 0 0 24px;
}
.header_item .search-box {
	display: flex;
}


