@charset "UTF-8";
ol, ul {
	list-style: none;
	padding:0;
}

.grid-3{
	display: grid;
	grid-template-columns: auto auto auto;	
	column-gap: 10px;
	row-gap:20px;
}

.banner-slide ul li{
	width: auto; 
	position: relative;
}

