@charset "UTF-8";
ol, ul {
	list-style: none;
}

.grid-3{
	display: grid;
	grid-template-columns: auto auto auto;	
	column-gap: 10px;
	row-gap:20px;
}
/* 메인1 banner */
.banner ul li a img {
    width: 100%;
    height: auto;
    display:block;
    margin:auto;
    align-items: center;
}
.banner img {
    max-width: 100%;
    max-height: 100%;
}
.banner ul li {
    margin: 0;
    line-height: 150%;
    color: #666;
    font-weight: 500;
    word-break: keep-all;
    font-size: 15px;
}
.main-banner{
    align-items: center;
    padding: 0 50px 0 0;
}
/* bx버튼 적용안됨 */
/* 
.banner .bx-prev,
.banner .bx-next
{
    position: absolute;
    width:  26px;
    height:  26px;
    font-size: 0;
}

.banner .bx-prev {
    background-image: url("/smovie/resources/img/left.png");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 78px;
}

.banner .bx-next {
    background-image: url("/smovie/resources/img/right.png");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
} */

.banner {
    position: relative;
    margin-top: 0;
}
.banner .bx-controls {
    position: absolute;
    top: -25px;
    right: 5px;
    width: 70px;
    padding: 0;
}

.banner .bx-controls a {
   position: absolute;
   top: 50%;
   margin-top: -16px;
   outline: 0;
   width: 32px;
   height: 32px;
   text-indent: -9999px;
   z-index: 9999;
}
.banner-slide{
    display:block;
    margin:auto;
}
.banner-slide-bx{
	position:relative;
	margin-bottom: 60px;
}

/* 메인2 info */
.grid-3 a { 
	text-decoration:none;	/* 텍스트 밑줄을 없애줌 */
	text-align: center;
}

.grid-3 a:link{
	color:black;			/* 방문하지 않았을 때 검은색 */
} 
.grid-3  a:visited{
	color:black;			/* 방문하지 했을 때 검은색 */
}


