<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreTocamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="kh.semi.member.model.vo.AttachFileVo" alias="AttachFileVo"/>
		<typeAlias type="kh.semi.member.model.vo.MemberVo" alias="MemberVo"/>
	</typeAliases>
	<environments default="aaa">
	
		<environment id="aaa">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="LJY"/>
				<property name="password" value="LJY"/>
			</dataSource>
		</environment>
		<environment id="bbb">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED"> <!-- c+s=>검은색 표시가 젤 먼저 오도록 한다. -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="scott"/>
				<property name="password" value="tiger"/>
			</dataSource> 
	
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
	</mappers>
</configuration>
